.content {
  background: #e1e1e1;
}
.page-header {
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  position: relative;
  background: #fff;
}
.page-header h1 {
  font-size: 22px;
  font-weight: 700;
  margin: 8px 0;
  display: inline-block;
  vertical-align: bottom;
  line-height: 130%;
}
.put_top {
  background: #80bd01;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  color: #fff;
  font-size: 12px;
}
.topiclist-tab {
  background-color: #e5e5e5;
  color: #999;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 12px;
}
.content .changes {
  font-size: 12px;
  color: #838383;
}
.content  .changes span:before {
  content: "•";
}
.span-common {
  display: inline-block;
  float: none;
  padding: 3px 10px;
  border: none;
  margin: 0;
  font-size: 14px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 3px;
  line-height: 2em;
  vertical-align: middle;
  background-color: #e5e5e5;
  ccolor: #000;
  position: absolute;
  right: 18px;
  bottom: 4px;
}
.span-common:hover {
  background-color: #909090;
  color: #fff;
}
.span-success {
  border-radius: 3px;
  background-color: #80bd01;
  border: none;
  display: inline-block;
  float: none;
  margin: 0;
  transition: all .2s ease-in-out;
  letter-spacing: 2px;
  box-shadow: none;
  line-height: 2em;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 18px;
  bottom: 4px;
}
.span-success:hover {
  color: #fff;
  background-color: #6ba44e;
}
.topic_content {
  padding: 10px;
  background: #fff;
  margin-bottom: 20px;
}
.topic_content img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.panel {
  margin-top: 13px;
}
.media {
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}
.media-left a {
  display: inline-block;
  width: 30px;
}
.media-object {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.fr {
  float: right;
}
.panel-body {
  background-color: #f4fcf0;
}
.glyphicon {
  color: #000;
  opacity: .6;
}
.glyphicon:hover {
  opacity: 1;
}
.glyphicon-pencil {
  position: absolute;
  right: 0;
}
.good {
  margin-right: 26px;
  color: #000;
  opacity: .6;
}
#manage_topic a {
  text-decoration: none;
  margin-right: .5em;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}
.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#manage_topic .glyphicon-pencil {
  position: relative;
}
#manage_topic a {
  color: #000;
}
.edit {
  position: absolute;
  right: 0;
  opacity: .6;
}
.edit:hover {
  opacity: 1;
}
.iconfont {
  cursor: pointer;
}

.panel .header {
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 3px 3px 0 0;
}

.panel .inner {
  padding: 10px;
  border-top: 1px solid #e5e5e5;
  border-radius: 0 0 3px 3px;
}
.editor_buttons {
  margin-top: 10px;
}
.span-primary, .span-success {
  border: none;
  display: inline-block;
  float: none;
  padding: 3px 10px;
  margin: 0;
  font-size: 14px;
  transition: all .2s ease-in-out;
  letter-spacing: 2px;
  box-shadow: none;
  line-height: 2em;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
}
.span-primary {
  border-radius: 3px;
  background-color: #08c;
}
.span-primary:hover {
  color: #fff;
  background-color: #05c;
}
.cl {
  line-height: 52px;
}
.reply_by_author {
  color: #fff;
  background-color: #6ba44e;
  padding: 2px;
  font-size: 12px;
}

