<div class="content">
  <div class="page-header">
    <h1>
      <span *ngIf="detailsData.top" class="put_top">置顶</span>
      <span *ngIf="!detailsData.top && detailsData.good" class="put_top">精华</span>
      <span *ngIf="!detailsData.top && !detailsData.good" class="topiclist-tab">{{ detailsData.tab | classify }}</span>
      {{ detailsData.title }}
    </h1>
    <div class="changes">
        <span>
          发布于{{ detailsData.create_at | lastReplay }}
        </span>
      <span>
          作者 <a href="/user/i5ting">{{ detailsData.author.loginname }}</a>
        </span>
      <span>
          {{ detailsData.visit_count }} 次浏览
        </span>
      <span> 来自 {{ detailsData.tab | classify }}</span>
      <input *ngIf="!detailsData.is_collect" class="span-common span-success pull-right collect_btn" type="submit" value="收藏" action="collect">
    </div>
  </div>
  <div class="topic_content" [innerHtml]=" detailsData.content ">

  </div>
  <div class="panel panel-default" *ngIf="detailsData.replies.length">
    <div class="panel-heading">
      <h3 class="panel-title">{{ detailsData.replies.length }}&nbsp;回复</h3>
    </div>
    <div class="panel-body">
      <ul class="media-list">
        <li class="media" *ngFor="let repile of detailsData.replies; let i = index ">
          <div class="media-left">
            <a href="#">
              <img class="media-object" [src]="repile.author.avatar_url" alt="...">
            </a>
          </div>
          <div class="media-body">
            <div class="media-heading">
              <span>{{ repile.author.loginname }} <a href="#">{{ i + 1 }}楼•{{ repile.create_at | lastReplay }}</a></span>
              <a href="#" class="fr good">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span *ngIf="!!repile.ups.length">{{ repile.ups.length }}</span>
              </a>
              <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <div [innerHtml]="repile.content"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <app-tiny-utils
    [elementId]="'my-editor'"
  ></app-tiny-utils>

</div>
