.inner {
  padding: 10px;
  border-radius: 0 0 3px 3px;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.sep10 {
  height: 10px;
}
