<div>
  <!--导航栏部分-->
  <nav class="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg" alt="">
        </a>
      </div>
      <form ngNoForm class="navbar-form navbar-left hidden-xs">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="home">首页</a></li>
          <li *ngIf="userData"><a routerLink="messages"><span class="big messages_count" *ngIf="!!unReadNum">{{ unReadNum }}</span>未读消息</a></li>
          <li><a routerLink="getstart">新手入门</a></li>
          <li><a routerLink="about">关于</a></li>
          <li *ngIf="!userData"><a href="https://github.com/login?client_id=0625d398dd9166a196e9&return_to=%2Flogin%2Foauth%2Fauthorize%3Fclient_id%3D0625d398dd9166a196e9%26redirect_uri%3Dhttps%253A%252F%252Fcnodejs.org%252Fauth%252Fgithub%252Fcallback%26response_type%3Dcode">注册</a></li>
          <li *ngIf="!userData"><a routerLink="signin">登陆</a></li>
          <li *ngIf="userData"><a (click)="signout()" href="javascript:;">退出</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!--主体部分-->
  <div (scroll)="scroll($event)" class="container main-container">
    <router-outlet></router-outlet>
    <app-to-top *ngIf="isShow"></app-to-top>
  </div>

  <!--底部部分-->
  <div class="footer bs-footer">
    <div class="container">
      <div class="row">
        <div class="links col-md-12 hidden-xs">
          <a class="dark" href="/rss">RSS</a>
          |
          <a class="dark" href="https://github.com/cnodejs/nodeclub/">源码地址</a>
        </div>
        <div class="col_fade col-md-12 hidden-xs">

          <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
          <p>服务器赞助商为
            <a href="http://www.ucloud.cn/?utm_source=zanzhu&amp;utm_campaign=cnodejs&amp;utm_medium=display&amp;utm_content=yejiao&amp;ytag=cnodejs_logo" target="_blank" class="sponsor_outlink" data-label="ucloud_bottom">
              <img src="//dn-cnode.qbox.me/FuIpEaM9bvsZKnQ3QfPtBHWQmLM9" title="ucloud" alt="ucloud" width="92px">
            </a>
            ，存储赞助商为
            <a href="http://www.qiniu.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="qiniu_bottom">
              <img src="//dn-cnode.qbox.me/Fg0jtDIcTqVC049oVu5-sn6Om4NX" title="七牛云存储" alt="七牛云存储" width="115px">
            </a>
            ，由<a href="https://alinode.aliyun.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="alinode_bottom">
              <img src="//dn-cnode.qbox.me/FpMZk31PDyxkC8yStmMQL4XroaGD" title="alinode" alt="alinode" height="54px" width="166px">
            </a>提供应用性能服务。
          </p>
          <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a></p>
        </div>
      </div>
    </div>
  </div>

</div>


