.navbar {
  background-color: #444;
}

.footer {
  background-color: #fff;
}
.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 120px;
  height: 50px;
  padding: 10px;
}

.navbar a {
  color: #ccc;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #444;
  color: #fff;
}

.navbar-form {
  width: 30%;
}
.navbar-form .form-group {
  width: 100%;
}

.navbar-form .form-control {
  width: 100%;
}

.form-control {
  border-radius: 20px;
}

.navbar-toggle {
  background-color: #aaa;
}
.navbar-toggle .icon-bar {
  background: #fff;
}
.main-container {
  margin-bottom: 15px;
}
.big {
  font-size: 14px;
}
.messages_count {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 1px 5px;
  background-color: #80bd01;
  color: #fff;
  margin-right: .5em;
}

