.panel .header {
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 3px 3px 0 0;
}
.breadcrumb {
  padding: 0;
  margin: 0;
  border: none;
  background: 0 0;
}
.panel .inner {
  padding: 10px;
  border-radius: 0 0 3px 3px;
}
.panel .inner, .panel .inner li {
  line-height: 2em;
}
ul {
  list-style:none;
  padding: 0;
}

.markdown-text div {
  display: inline;
}
.markdown-text p {
  display: inline;
}
.list {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
