.panel {
  font-size: 13px;
}
.panel .inner {
  padding: 10px;
  border-radius: 0 0 3px 3px;
}
.panel .inner a {
  color: #778087;
}
.span-info {
  display: inline-block;
  float: none;
  padding: 3px 10px;
  border: none;
  margin: 0;
  font-size: 14px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: none;
  border-radius: 3px;
  line-height: 2em;
  vertical-align: middle;
  color: #fff;
  background-color: #5bc0de;
}

