.media {
  position: relative;
  padding: 10px 0 10px 10px;
  font-size: 14px;
  border-top: 1px solid #f0f0f0;
  margin-top: 0;
}
.media:hover {
  background-color: #f6f6f6;
}
.media-left a {
  display: inline-block;
  width: 30px;
}
.media-object {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.topic_title {
  color: #888;
  width: 70%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
.put_good, .put_top {
  background: #80bd01;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  color: #fff;
  font-size: 12px;
}
.click_number {
  font-size: 10px;
}
.click_number span {
  margin-right: -1px;
  color: #b4b4b4
}
.click_number span:nth-child(1) {
  color: #9e78c0
}
.last-time {
  position: absolute;
  font-size: 12px;
  right: 2px;
  top: 25%;
}
.topiclist-tab {
  background-color: #e5e5e5;
  color: #999;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 12px;
}
.pagination-sm {
  margin: 10px 0 0 10px;
}
.pagination {
  margin: 0px;
}
