* {
  font-family: '微软雅黑', 'Microsoft YaHei', '宋体', Tahoma, Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: '微软雅黑', 'Microsoft YaHei', '宋体', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #e1e1e1;
}

html {
  min-height: 100%;
  position: relative;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a:hover {
  text-decoration: none;
}
a>div {
  display: inline;
}
a>div>p {
  display: inline;
}

@import "~bootstrap/dist/css/bootstrap.min.css";



