<div class="contener">
  <div class="row">
    <!--左侧数据加载-->
    <div class="col-md-9">
      <ul class="nav nav-pills" *ngIf="isShow">
        <li routerLinkActive="active"><a routerLink="topic/all">全部</a></li>
        <li routerLinkActive="active"><a routerLink="topic/good">精华</a></li>
        <li routerLinkActive="active"><a routerLink="topic/share">分享</a></li>
        <li routerLinkActive="active"><a routerLink="topic/ask">问答</a></li>
        <li routerLinkActive="active"><a routerLink="topic/job">招聘</a></li>
      </ul>
      <div class="topic-list">
        <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
      </div>
    </div>
    <!--右侧固定内容-->
    <div class="col-md-3 visible-lg-*">
      <app-github-signin *ngIf="isShow"></app-github-signin>
      <app-author-info *ngIf="!isShow" [data]=authorInfo></app-author-info>
      <app-ad></app-ad>
      <app-author-topic *ngIf="!isShow" [topicList]= listData></app-author-topic>
      <app-link *ngIf="isShow"></app-link>
    </div>
  </div>
</div>
